<div class="row carousel-holder marginTop1">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="https://15ace9da33234c8009e1-c36b621a4e9f69e1eca0349eb68643a7.ssl.cf4.rackcdn.com/wp-content/uploads/BBD-757-Homepage-Carousel_Range_UK.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="https://dunnbrothers.com/wp-content/uploads/2018/03/Carousel-Website_home_spring-drinks.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://blog.supplet.com/wp-content/uploads/2015/01/mocktails-carousel-four-drinks1.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>